# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Virtualenv
.venv/
venv/

# Test / coverage
.pytest_cache/
.coverage
.coverage.*
coverage.xml
htmlcov/

# Type checkers / linters
.mypy_cache/
.ruff_cache/

# mkdocs
site/

# Ambiente locale
.env
*.log

# macOS
.DS_Store

# Editor
.vscode/
.idea/
